<label>FirtsNmae</label>
<input type="text" name="firstName" value="<%= user.firstName %>">
</br>
<label>LastName</label>
<input type="text" name="lastName" value="<%= user.lastName %>">
</br>
<label>Email</label>
<input type="text" name="email" value="<%= user.email %>">
</br>
<label>Name</label>
<input type="text" name="name" value="<%= user.name %>">
</br>
<label>Mobile</label>
<input type="text" name="mob" value="<%= user.mob %>">
</br>
<label>Experience</label>
<input type="text" name="exp" value="<%= user.exp %>">
</br>
<label>Achivements</label>
<input type="text" name="ach" value="<%= user.achivements %>">
</br>