<h1>User Details</h1>
<h2>Email : <%= user.email %></h2>
<h3>FullName: <%= user.name || "" %></h3>
<h3>FirstName: <%= user.firstName || "" %></h3>
<h3>LastName: <%= user.lastName || "" %></h3>
<h3>MobileNumber: <%= user.mob || "" %></h3>
<h3>Experience: <%= user.exp || "" %></h3>
<h3>Achivements: <%= user.achivements || "" %></h3>

